[Unit]
Description=Asteroid control system
After=network.target

[Service]
Type=simple
User=asteroid
Group=asteroid
WorkingDirectory=/home/asteroid/asteroid/rpi
ExecStart=/home/asteroid/asteroid/rpi/venv/bin/python asteroid.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target